catkin
catkin_generated
cmake
CMakeFiles
devel
gtest
test_results
.csettings
.settings
camera.avi
CMakeCache.txt
cmake_install.cmake
CmakeLists.txt.backup
CMakeLists.txt.user
CMakeLists_no_rune_detect.txt
CTestTestfile.cmake
LICENSE
Makefile
tags
评测(空).txt
.CMakeLists.txt.swp
.cproject
.project
build
src/detect_factory/detect_res/cl/*

*.png
